*{
    margin: 0;
    font-family: Arial, sans-serif;
    border: border-box;
   
}

/*navigation bar main div*/
.navbar {
    width: 100%;
    height: 60px;
    background-color: #000000;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
    color: white;
    
    
}
/*for hovring element and getting border on it*/
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* logo of Amazon */
.nav-logo{
    height: 55px;
    width: 100px;
}
.logo{
    
    background-size: cover;
    background-image: url(amazon-logo-editorial-icon-isolated-600nw-2333488123.webp);
    height: 100%;
    width: 100%;
}

/* box2 Delivary Adreee*/
.add1{
    color: #cccccc;
    font-size: 0.7rem;
    margin-left: 18px;
}
.add2{
    font-size: 0.85rem;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box three Searchbar */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(233, 188, 54);
     width: 620px;
     height: 35px;
     border-radius: 5px;
     
    
}.nav-search :hover{
    border: 2px solid #191970;
}
.search-select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;


    
}
.search-bar{
    width: 100%;
    font-size: 1rem;
    border: none
}
.search-logo{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}
/* box 4 hello amd sign in */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 cart */

.nav-cart i{
    font-size: 30px
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* tool-bar div */
.tool-bar{
    color: white;
    background-color: #37475a;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.other-tools p{
    display: inline;
    margin-right: 15px;
    font-size: 0.8rem;
}
.other-tools p:hover{
    border:2px solid white;
}
.other-tools2 p:hover{
    border:2px solid white;
}
.other-tools{
    width: 80%;
    padding-left: 10px;
}
.other-tools2{
    font-size: 0.9rem;
    font-weight: 600;
}

/* Hero section image */
.hero-section{
    background-image: url(Amazon-hero-Image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.hero-message{
    background-color: white;
    color: #000000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 75px;
    border-radius: 5px;
}
.hero-message a{
    color: #007185;
}

/* shop section boxes */

.shop-section{
    background-color: #0e0e26b0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    justify-content: space-evenly;
    height: 735px;
}
.shop-section a{
    color: #007185;
}
.box{
   
    align-content: center;
    border: none;
    background-color: #f0f0f4;
    height: 320px;
    width: 21%;
    border-radius: 5%;
}
 .border1:hover{
    border: 3px solid #191970;
} 
.box1-image{
   
    background-image: url(gaming-console.jpg);
    height: 80%;
    width: 88%;
    background-size: cover;
    margin-left: 15px;
     margin-top: 5px;
     margin-bottom: 5px;
}
.box1 p,h2{
    margin-left: 15px;
   font-size: large;
}


.box2-image{
    background-image: url(gaming\ pc\ and\ laptos.jpg);
    height: 82%;
    width: 88%;
    margin-left: 15px;
     margin-top: 5px;
     margin-bottom: 5px;
    background-size: cover;
}
.box2 p{
    margin-left: 15px;

}
.box3-image{
    background-image: url(rgb-gaming-pc-components-2PPKCJT.jpg);
    height: 82%;
    width: 88%;
    margin-left: 15px;
     margin-top: 5px;
     margin-bottom: 5px;
    background-size: cover;
}
.box3 p{
    margin-left: 15px;

}
.box4-image{
    background-image: url(box5.jpg);
    height: 82%;
    width: 88%;
    margin-left: 15px;
     margin-top: 5px;
     margin-bottom: 5px;
    background-size: cover;
}
.box4 p{
    margin-left: 15px;

}
.box5-image{
    background-image: url(box6.jpg);
    height: 82%;
    width: 88%;
    margin-left: 15px;
     margin-top: 5px;
     margin-bottom: 5px;
    background-size: cover;
}
.box5 p{
    margin-left: 15px;

}
.box6-image{
    background-image: url(box7.jpg);
    height: 82%;
    width: 88%;
    margin-left: 15px;
     margin-top: 5px;
     margin-bottom: 5px;
    background-size: cover;
}
.box6 p{
    margin-left: 15px;

}
.box7-image{
    background-image: url(box8.avif);
    height: 82%;
    width: 88%;
    margin-left: 15px;
     margin-top: 5px;
     margin-bottom: 5px;
    background-size: cover;
}
.box7 p{
    margin-left: 15px;

}
.box8-image{
    background-image: url(acceroes.webp);
    height: 82%;
    width: 88%;
    margin-left: 15px;
     margin-top: 5px;
     margin-bottom: 5px;
    background-size: cover;
}
.box8 p{
    margin-left: 15px;

}
/* footer  */
.footpanel-1{
    color: white;
    background-color:#37475a;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
     
}
.footpanel-2{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    color: white;
    background-color: #222f3d;
}
.footpanel-2 p{
    margin-top: 20px;
    font-weight: 700;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.footpanel-3{
    color: white;
    background-color:#222f3d;
    height: 70px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    border-top: 1px solid white;
    font-size: small;
    color: #dddddd;
}